{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="https://camo.githubusercontent.com/c38cba502eacbe7a2251946932d9b97ea209d0b8/68747470733a2f2f312e67726176617461722e636f6d2f6176617461722f65316239666633333234646131366362666463373532303265623630336465303f643d68747470732533412532462532466173736574732d63646e2e6769746875622e636f6d253246696d6167657325324667726176617461727325324667726176617461722d757365722d3432302e706e6726723d6726733d3430" 
				class="img-circle"
				height="150" width="150"/>
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        {{ site.description }}
    </div>
</div>

{% if site.data.tops.size > 0 %}
<div class="sidebar well">
    <h1>{{ trans.top_posts }}</h1>
    <ul>
        {% for top in site.data.tops %}
            {% for post in site.posts %}
                {% if post.url contains top.url %}
                    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    {% include links-list.html %}
</div>
